extends layout



block content

  h1 #{title}

  p Math.atan2() is applied to #{num1} and #{num2} is #{atan2}

  p Math.atanh() is applied to #{num3} is #{atanh}

  p Math.cbrt() is applied to #{num4} is #{cbrt}
